.panel.panel-default
  .panel-heading
    %h1 Listing Menus
  .panel-body
    .row
      .col-md-12
        %p#notice= notice
        .table-responsive
          %table.table.mb30
            %thead
              %tr
                %th Title
                %th Link
                %th Order
                -#%th Parent
                %th{:colspan => "4"}
            %tbody
              - @menus.each do |menu|
                %tr
                  %td= menu.title
                  %td= menu.link
                  %td= menu.order
                  -#%td= menu.parent
                  %td= link_to 'Show', menu
                  %td= link_to 'Edit', edit_menu_path(menu)
                  %td= link_to 'Destroy', menu, method: :delete, data: { confirm: 'Are you sure?' }
                  %td.table-action
                    = link_to menu do
                      %i.fa.fa-eye
                    = link_to edit_menu_path(menu) do
                      %i.fa.fa-pencil
                    = link_to  menu, method: :delete, data: { confirm: 'Are you sure?' } do
                      %i.fa.fa-trash-o
                    = link_to menu_transaltion_path(menu.id) do
                      %i.fa.fa-globe
          %br
          = link_to 'New Menu', new_menu_path,class: "btn btn-primary"
