.panel.panel-default
  .panel-heading
    %h1 Listing <%= plural_table_name.capitalize %>
  .panel-body
    .row
      .col-md-12
        %p#notice= notice
        .table-responsive
          %table.table.mb30
            %thead
              %tr
<% for attribute in attributes -%>
                %th <%= attribute.human_name %>
<% end -%>
                %th
                %th
                %th
            %tbody
              - @<%= plural_table_name %>.each do |<%= singular_table_name %>|
                %tr
<% for attribute in attributes -%>
                  %td= <%= singular_table_name %>.<%= attribute.name %>
<% end -%>
                  %td.table-action
                    = link_to <%= singular_table_name %> do
                      %i.fa.fa-eye
                  %td.table-action
                    = link_to edit_<%= singular_table_name %>_path(<%= singular_table_name %>) do
                      %i.fa.fa-pencil
                  %td.table-action
                    = link_to  <%= singular_table_name %>, method: :delete, data: { confirm: 'Are you sure?' } do
                      %i.fa.fa-trash-o
          %br
          = link_to 'New <%= human_name %>', new_<%= singular_table_name %>_path,class: "btn btn-primary"