.panel.panel-default
  .panel-heading
    %h1 Listing Text_blocks
  .panel-body
    .row
      .col-md-12
        %p#notice= notice
        .table-responsive
          %table.table.mb30
            %thead
              %tr
                %th Name
                %th Body
                %th
                %th
                %th
            %tbody
              - @text_blocks.each do |text_block|
                %tr
                  %td= text_block.name
                  %td= truncate(text_block.body, length: 100)
                  %td.table-action
                    = link_to [:admin,text_block] do
                      %i.fa.fa-eye
                    = link_to edit_admin_text_block_path(text_block) do
                      %i.fa.fa-pencil
                    = link_to  [:admin,text_block], method: :delete, data: { confirm: 'Are you sure?' } do
                      %i.fa.fa-trash-o
          %br
          = link_to 'New Text block', new_text_block_path,class: "btn btn-primary"